@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
  font-family: "mousie";
  src: url("../fonts/mousie.ttf") format("truetype");
}

html {
  overflow: hidden;
}

#hbd {
  position: absolute;
  color: #F09696;
  font-family: "mousie";
  font-size: 20vh;
  text-align: center;
  bottom: 26vh;
}

.congratulation {
  display: flex;
  justify-content: center;
  align-items: center;
}

#next {
  position: absolute;
  color: #F09696;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  right: 1.1vw;
  top: 1.25vh;
}

.next {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
